<style>
    .header {
        position:absolute;
        left:0; right:0;
        height: 180px;
    }
    .left {
        position:absolute;
        left:0; top:180px; bottom: 0;
        width: 178px;
    }
    .main {
        position: absolute;
        left:178px; top:180px; right:0; bottom:0;
    }
    .footer {
        position: fixed; bottom: 0; height: 100px;
    }
    </style>
